body{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212121;
}

a{
  font-family: sans-serif;
  padding: 20px 40px;
  text-decoration: none;
  text-transform: uppercase;
  background: #f1c40f;
  color:white;
  font-size: 20px;
  letter-spacing: 2px;
  position: relative;
}

a:before{
  content: 'passe o mouse';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background: #2ce771;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition:all 0.5s;

}
a:hover:before{
  transform: rotateX(0);
}
a:after{
  content: 'passe o mouse';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateX(270deg);
  transform-origin: top;
  transition:all 0.5s;
  transition-delay: 0.25s;

}
a:hover:after{
  transform: rotateX(0);
}